body{
  background-image: url('bg-intro-desktop.png');
  background-color: hsl(0, 100%, 74%);
  font-family: Poppins;
  margin: 70px;
}

h1{
  color: white;
  font-weight: 700;
}

p{
  font-family: Poppins;
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Left half */

.leftHalf{
  margin-top:100px;
  padding-left:60px;
}

h1{
   width:70%;
}

/* right half  */

.blue{
   background-color: hsl(248, 32%, 49%);
   color:white;
   padding-bottom: 10px;
}

.box{
  background-color: white;
  margin-top: 20px;
  position: relative;
  border-radius: 25px;
}

.form-group{
  padding:20px;
}

.individualForm{
 padding:10px;
}

.green{
  background-color:hsl(154, 59%, 51%);
  color: white;
  margin: 10px;
}

.terms{
  color:hsl(246, 25%, 77%);
  text-align: center;
  font-size: 0.8rem;
  padding-top: 10px;
}

.attribution{
  margin-top: 50px;
}
